* {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

body {
    background-color: #f4f4f4;
}

header {
    /* background-color: #333333; */
    color: #032e52;
    background: rgb(255,128,0);
    background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(219,60,0,1) 100%);
    padding: 2%;
}

/* Buttons */

button {
    background-color: #032e52;
    color: #f4f4f4;
    border: none;
    height: 50px;
    width: 220px;
    /* border: #333333 3px solid; */
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

.btn-orange {
    background-color: #dd5422;
}

.btn-row-div {
    height: auto;
    width: 70%;
}

.btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 9em;
}

.btn-clear {
    width: 175px;
    background-color: brown;
}

.clear-btn-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.output-btn-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    /* border: 1px solid red; */
}

/* Text Areas */

textarea {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.body {
    
}

/* Media Queries */

@media only screen 
and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3) { 
  
}